.star-rating{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.on {
  opacity: 1;
}
.off {
 opacity: 38%;
}
.star{
    margin-right: 5px;
}
.reviews{
  font-size: 13px;
}