.Promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: black;
  height: 100%;
  &:first-child{
    width: 100%;
    margin-right: 20px;
  }
  &:nth-child(2){
    width: 70%;
  }

}