.contact{
  margin-top: 100px;
  margin-bottom: 100px;
  &__header{
    height: 350px;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &__title{
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  &__content{
    margin-top: 150px;
    display: flex;
  }
  &__main{
    width: 70%;
    .title{
      font-size: 36px;
      line-height: 48px;
      color: #3a3939;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .subtitle {
      font-size: 16px;
      color: #3a3939;
      margin-bottom: 30px;
    }
  }
  &__aside{
    .aside{
      &__item{
        &:not(:last-child){
          margin-bottom: 80px;
        }
      }
      &__title{
        font-size: 24px;
        line-height: 48px;
        font-weight: bold;
        color: black;
      }
      &__text{
        font-size: 16px;
        color: #3a3939;
      }
    }
  }
}