.order{
  margin: 0 0 0 75px;
  border-bottom: 1px solid #ebebeb;
  width: 70%;
  &__title{
    font-size: 24px;
    margin-top: 20px;
  }
  .product{
    height: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__img{
      width: 100px;
      height: auto;
      border: 1px solid #3a3939;
      img{
        display:block;
        width: 100%;
      }
    }
  }
}
.orders{
  width: 100%;
  margin-bottom: 50px;
}