.dropdown{
  position: relative;
  width: 210px;
  height: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  &__btn{
    width: 210px;
    height: 50px;
    padding: 10px;
    border:1px solid rgba(0,0,0,0.06);;
    background-color: white;
    color: #3a3939;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      cursor: pointer;
    }
  }
  &__item{
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    border:1px solid rgba(0,0,0,0.06);;
    background-color: white;
    &:hover{
      cursor: pointer;
    }
  }
}
.open{
  display: block;
}