.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  //z-index: 1000;
  background-color: white;
}
.RightNav__wrapper {
  display: flex;
  align-items: center;
}