
.section-inner {
    margin: 15px 65px;
}
.section-outer {
    height: 100%;
}

//-- COMMON STYLES--//
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 36px;
        line-height: 48px;
        font-weight: bold;
    }
    &__subtitle{
        font-size: 20px;
        line-height: 48px;
    }
}
//-- COMMON STYLES--//
.hero{
    background: url("../public/img/img_bg.jpg") center no-repeat;
}
.about{
    &__header{
        background: url("../public/img/about-bg.jpg") center no-repeat;
    }
}

.active{
    color: #024E82;
}